<wicket:extend>
    <div id="body">
        <div class="row">
            <div class="col-md-3 section filters">
                <div class="fading-side-menu" data-spy="affix" data-offset-top="350">
                    <form wicket:id="categoriesCheckboxForm" id="categoriesCheckboxForm">
                        <div class="checkbox">
                            <fieldset>
                                <legend><wicket:message key="filtrar"/></legend>
                                <span wicket:id="list">
							    <label>
							      <input wicket:id="check" type="checkbox" name="category"/>
							      <span wicket:id="name">test</span>
                                </label>
                                <br>
                                </span>
                            </fieldset>
                        </div>
                        <button type="submit" class="btn btn-primary submit-button filter-button">Buscar</button>
                    </form>
                </div>
            </div>
            <div class="col-md-8 section">
                <div class="page-title">
                    <h1> <wicket:message key="restoranes" /> </h1>
                </div>
                <div class="comments-list" wicket:id="restaurants">
                    <div class="media col-md-8 index">
                        <div class="row restaurant-info">
                            <div class="col-md-7">
                                <a class="media-left" href="#" wicket:id="restaurantLink">
                                    <img src="../images/logo-restaurante.png" />
                                </a>
                                <div class="media-body">
                                    <h4 wicket:id="name" class="media-heading user_name"></h4>
                                    <br><span wicket:id="addressStreet"></span> <span wicket:id="addressNumber"></span>
                                    <br><a wicket:id="menuLink" href="#"> Ver menu </a>
                                    <div class="row actions-row">
                                   		<a type="button" wicket:id="actions" href="#" title="" class="" style="margin-right: 10px;" ></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input wicket:id="rating" id="input-21e" type="number" value="0" data-symbol="&#9733;" readonly="true" data-default-caption="{rating}" data-star-captions="{}" class="rating" min=0 max=5 step=0.5 data-size="xs">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</wicket:extend>