<div id="body">
<wicket:extend>
	<div class="container-fluid">
	    <section class="container">
	    	<div wicket:id="feedback"/>
			<form wicket:id="addDishForm" action="/addDish" method="POST">			
				<div class="col-md-8" style="margin-right:50%">
					<h3 class="dark-grey"><wicket:message key="addDish"/></h3>
					<br><br>
					<div class="row">
						<div class="col-md-4 form-group">
							<label><wicket:message key="menuType"/></label>	
							<select id="selectElement" wicket:id="menuTypes" class="form-control" required="required" name="menuTypes"></select>
							<br>
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><wicket:message key="addMenuType"/></button>
						</div>
					</div>
					<div class="form-group col-lg-12">
						<label><wicket:message key="dishName"/></label>
						<input type="text" wicket:id="name" required="required" class="form-control" name="name"/>
					</div>	
					<div class="form-group col-lg-3">
		        		<label for="c2"><wicket:message key="dishPrice"/></label>
					    <div class="input-group"> 
					        <span class="input-group-addon"><wicket:message key="currencySign"/></span>
					        <input type="text" wicket:id="price" required="required" value="0" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="c2" />
					    </div> 
					</div>
					<div class="form-group col-lg-12">
					  <label for="comment"><wicket:message key="dishDescription"/></label>
					  <input wicket:id="description" class="form-control" rows="5" id="comment"/>
					</div>
					<div class="row submit-wrapper">
						<button wicket:id="regsubmit" type="submit" class="btn btn-primary submit-button" style="margin-left:50%"><wicket:message key="addDish"/></button>
					</div>
				</div>
			</form>
		</section>
	</div>
	<script>
		function addMenuType() {
		    var menuTypeToAdd = document.getElementById("menuType").value;
		    var select = document.getElementById('selectElement');
			var opt = document.createElement('option');
		    opt.value = menuTypeToAdd;
		    opt.innerHTML = menuTypeToAdd;
		    select.appendChild(opt);
		    select.value = opt.value;
		}
	</script>
	</wicket:extend>
</div>