<wicket:extend>
	<div id="body">
	    <div class="container-fluid">
	        <section class="container">
	        	<div wicket:id="feedback"/>
	            <form wicket:id="updateForm"  method="POST" class="col-md-6">
	                <h3 class="dark-grey"><wicket:message key="registrarse"></wicket:message></h3>
	
	                <div class="form-group col-lg-6">
	                    <label>
	                        <wicket:message key="nombre"></wicket:message>
	                    </label>
	                    <input type="text" wicket:id="name" name="name" class="form-control" required="required" id="name" />
	                </div>
	                <div class="form-group col-lg-6">
	                    <label>
	                        <wicket:message key="apellido"></wicket:message>
	                    </label>
	                    <input type="text" wicket:id="lastName" name="lastName" class="form-control" required="required" id="lastName" value="" />
	                </div>
	                <div class="form-group col-lg-6">
	                    <label>
	                        <wicket:message key="mail"></wicket:message>
	                    </label>
	                    <input type="email" wicket:id="regemail" name="email" class="form-control" required="required" id="email" value="" />
	                </div>
	                <div class="form-group col-lg-6">
	                    <label>
	                        <wicket:message key="repmail"></wicket:message>
	                    </label>
	                    <input type="email" wicket:id="reEmail" name="reEmail" class="form-control" required="required" id="reEmail" value="" />
	                </div>
	                <div class="form-group col-lg-6">
	                    <label>
	                        <wicket:message key="contrasena"></wicket:message>
	                    </label>
	                    <input type="password" wicket:id="regpassword" name="password" class="form-control" required="required" id="password" value="" />
	                </div>
	                <div class="form-group col-lg-6">
	                    <label>
	                        <wicket:message key="repcon"></wicket:message>
	                    </label>
	                    <input type="password" wicket:id="rePassword" name="rePassword" class="form-control" required="required" id="rePassword" value="" />
	                </div>
	                <div class="form-group col-lg-12">
	                    <label>
	                        <wicket:message key="calle"></wicket:message>
	                    </label>
	                    <input type="text" wicket:id="addressStreet" name="addressStreet" required="required" class="form-control" id="addressStreet" value="" />
	                </div>
	                <div class="form-group col-lg-3">
	                    <label>
	                        <wicket:message key="numero"></wicket:message>
	                    </label>
	                    <input type="text" wicket:id="addressNumber" name="addressNumber" required="required" class="form-control" id="addressNumber" value="" />
	                </div>
	                <div class="form-group col-lg-4">
	                    <label>
	                        <wicket:message key="barrio"></wicket:message>
	                    </label>
	                    <select id="selectElement" wicket:id="neighborhood" class="form-control" required="required" name="neighborhood">
	                    </select>
	                </div>
	                <div class="form-group col-lg-5">
	                    <label>
	                        <wicket:message key="nacimiento"></wicket:message>
	                    </label>
	                    <input type="text" wicket:id="birthDate" name="birthDate" class="form-control" required="required" id="datePicker2" />
	                </div>
	                <div class="row submit-wrapper">
	                    <button wicket:id="regsubmit" type="submit" class="btn btn-primary submit-button">Registrarse</button>
	                </div>
	            </form>
	        </section>
	    </div>
	</div>
</wicket:extend>